<div class="col-sm-12 col-lg-3" id="follow-content-<%=board.id%>" >
    <div class="product-item bg-light">
      <div class="card">
        <div class="thumb-content">
          <%= link_to board_path(board) do %>
            <%= image_tag "#{ board.image }", class:'card-img-top img-fluid', size:'300x200' %>
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title" style='display: inline;'>
            <%= link_to board.title , board_path(board) %>
          </h4>
            <% if current_user.my_board?(board.user_id) %>
              <div class='edit_board_btn mr10' style='display: inline; float: right;'>
                <%= link_to board_path(board), method: :delete, data: { confirm: '本当に消すの？' } do %>
                  <i class='fa fa-trash mr10'></i>
            <% end %>
                <%= link_to edit_board_path(board) do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
          </div>
          <% else %>
          <div id="follow-button-<%= board.id %>">
            <%= render 'shared/follow', board:board, follow:follow %>
          </div>
          <% end %>
          <ul class="list-inline product-meta">
            <li class="list-inline-item">
              <%= link_to '#' do %>
                <i class='far fa-user'><%= board.user.decorate.full_name %>"</i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <i class="far fa-calendar-alt"></i>
              15th March
            </li>
          </ul>
          <p class="card-text"><%= board.description %></p>
        </div>
      </div>
    </div>
</div>
