<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">掲示板一覧</h1>
        </div>
        <div class="col-sm-6">
          <!-- SEARCH FORM -->
          <%= search_form_for @q, url:{ action: 'index' } do |f| %>
          <div class="advance-search">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="block d-flex">
                  <%= f.search_field :title_or_description_cont,
                  class: 'form-control mb-2 mr-sm2 mb-sm0 mr5',
                    placeholder: "検索ワード", type:"text" %>
                    <%= f.date_field :created_at_gteq %>
                    <span>〜</span>
                    <%= f.date_field :created_at_lteq %>
                    <%= f.submit :検索する, name: "commit", class: 'btn btn-info' %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <% if @boards.present? %>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">タイトル</th>
                <th scope="col">ユーザー名</th>
                <th scope="col">コメント</th>
                <th scope="col">作成日</th>
              </tr>
            </thead>
            <tbody>
              <% @boards.each do |board| %>
              <tr>
                <th scope="row"><%= board.id %></th>
                <td><%= link_to board.title, admin_board_path(board) %></td>
                <td><%= link_to board.user.decorate.full_name, admin_user_path(board.user) %></td>
                <td><%= board.description %></td>
                <td><%= board.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% else %>
    <div class="row mt15 text-center">
      <div class="col-sm-12 col-lg-12">
        <h2>掲示板はありません。</h2>
      </div>
    </div>
    <% end %>
  </div>
