<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result bg-gray">
          <h2><%= t('.notice_list') %></h2>
          <strong><%= t('.display_condition') %></strong>
          <select name="search">
            <option value="A"><%= t('.show_all') %></option>
            <option value="B"><%= t('.bulletin_board') %></option>
            <option value="O"><%= t('.comment_only') %></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-grid-list">
          <div class="row mt-30">
            <div class="col-sm-12" style="overflow: scroll; height: 400px;">
              <div class="product-item bg-light">
                <div class="card">
                  <div class="card-body">
                    <div class="widget dashboard-container my-adslist">
                      <table class="table product-dashboard-table">
                        <tr>
                          <td class="product-thumb">
                            <%= image_tag "sample.jpg", class:'rounded-circle', width:'50px' %>
                          </td>
                          <td class="product-details">
                            <h3 class="title", style='display: inline;'>
                              <%= t('.notice') %>
                            </h3>
                            <p style='display: inline; float:right;'>
                              2018/01/20
                            </p>
                            <div class="notification_text">
                              <%= t('.comment_sample') %>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="product-thumb">
                            <%= image_tag 'sample.jpg', class:'rounded-circle', width:'50px' %>
                          </td>
                          <td class="product-details">
                            <h3 class="title", style='display: inline;'>
                              <%= t('.new_bunlletin_board') %>
                            </h3>
                            <p style='display: inline; float:right;'>
                              2018/01/20
                            </p>
                            <div class="notification_text">
                              <%= t('.title_sumple') %>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="product-thumb">
                            <%= image_tag 'sample.jpg', class:'rounded-circle', width:'50px' %>
                          </td>
                          <td class="product-details">
                            <h3 class="title", style='display: inline;'>
                              <%= t('.notice') %>
                            </h3>
                            <p style='display: inline; float:right;'>
                              2018/01/20
                            </p>
                            <div class="notification_text">
                              <%= t('.comment_sample') %>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
