<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result bg-gray">
          <h2><%= t('.notice_list') %></h2>
          <strong><%= t('.display_condition') %></strong>
           <%= select_tag "search", options_for_select(notification_select_options, selected: params[:condition]),
            onchange:"window.location.replace('?condition='+this.value);"%>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-grid-list">
          <div class="row mt-30">
            <div class="col-sm-12" style="overflow: scroll; height: 400px;">
              <div class="product-item bg-light">
                <div class="card">
                  <div class="card-body">
                    <div class="widget dashboard-container my-adslist">
                      <table class="table product-dashboard-table">
                        <% @notifications.each do |notification| %>
                          <% if notification.should_notify? %>
                            <tr>
                              <td class="product-thumb">
                                <%= image_tag notification.notification_image, class: 'rounded-circle', width: '50px' %>
                              </td>
                              <td class="product-details">
                                <h3 class="title", style='display: inline;'>
                                  <%= link_to notification.notification_link do %>
                                    <%= notification.notification_comment %>
                                  <% end %>
                                </h3>
                                <p style='display: inline; float:right;'>
                                  <%= notification[:created_at].strftime("%Y-%m-%d") %>
                                </p>
                                <div class="notification_text">
                                  <%= notification.title %>
                                  <%= notification.notification_info %>
                                </div>
                              </td>
                            </tr>
                            <% end %>
                        <% end %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
